<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; <%= date(new Date(), 'YYYY') %> <%= "☺"+config.author || config.title %><br>
            来自 <a href="http://hexo.io/" target="_blank">Hexo</a> | 主题作者 <a href="http://github.com/ppoffice">PPOffice</a><br><i class="fa fa-users"></i>
        </div>
    </div>
</footer>
